<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>growlirssi</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>myscript.sh</string>
      <string>name@server</string>
    </array>
    <key>UserName</key>
    <string>myusername</string>
    <key>NumberOfProcesses</key>
    <integer>1</integer>
  </dict>
</plist>